@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #000;
}

.brand-logo {
  width: 90px;
  height: 50px;
}

.navbar{
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%),
   0 2px 2px rgb(0 0 0 / 6%),0 0 2px rgb(0 0 0 / 7%);

}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 20px;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 15px;
  font-weight: bold;
}

.navbar a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
.navbar a:hover {
  color: #ffa500;
}



.left-list {
  text-transform: uppercase;
  flex: 3;
  margin-left: 20px;
  
}

.right-list {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

img {
  max-width: 100%;
}

input {
  border: 1px solid #000000;
  border-radius: 10px;
  font-size: 15px;
  padding: 7px 8px ;
  width: 300px;
  display: flex;
  margin-right: 15px
  
}

.box-a {
  background-color: gold;
  margin-bottom: 20px;
  height: 100%;
  padding: 30px;
}

.box-a-div {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  height: 280px;
}

.h2-heading {
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 20px;
}

.p-text {
  font-size: 22px;
 
}

.learn-more {
  background-color: #000;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
  margin-top: 30px;
}
.learn-more:hover {
  background-color: #006400;
}


.box-b {
  /* max-width: 600px; */
  margin: auto; 
  display: flex;
  

  
 
}

.box-b {
  margin-bottom: 30px;
}

.shared-container {
  max-width: 700px;
  text-align: center;
  justify-self: center;
  padding: 50px 40px;
  margin: 0 auto;
  background-color: orange;
  text-size-adjust: 0;
  justify-items: end;
  gap: 1px;
 
  
  
}
/* .burger-container {
  display: flex;
  justify-content: flex-start;
}
.doughnut-container {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
} */

.burger-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: left;
  
}


.doughnut-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: left;
}

.burger-paragraph,
.doughnut-paragraph {
  margin-bottom: 10px;
}


.burger-button,
.doughnut-button {
  cursor: pointer;
  display: inline-block;
  background-color: #ffa500;
  color: #fff;
  border: 1px #000 solid;
  border-radius: 50px;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
.burger-button:hover {
  background-color: #000;
}
.doughnut-button:hover {
  background-color: #000;
}

.box-c {
  width: 100%;
  height: auto;
  /* display: flex; */
  margin-bottom: 30px;
  
}

.springroll {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
  



.chops-container {
 background-color: #006400;
 width: 100%;
 height: 100px;
 display: flex;
 justify-content: center;
 text-align: center;
 align-items: center;
 color: aliceblue;
 padding-top: 10px;
}
.span{
  font-weight: bold;
}
.box-c p {
  padding-left: 5px;
}


.box-d {
  display: grid;
  grid-template-columns:repeat(2, 1fr) ;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  gap: 1px;
}

.puff-image {
  width: 100%;
}



.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  gap: 1px;
}

.divider {
  border-width: 1px;
  border-color: #ffa500;
  border-style: double;
}

.footer-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px 30px;

}
.social {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 20px 0;
}

.social img {
  width: 35px;
  height: 35px;
}

.social a {
  text-decoration: none;
  margin-right: 20px;
}

.footer-list {
  text-decoration: underline;
}


@media (max-width:768){
  .navbar {
    display: none;
  }
  
  .footer {
    text-align: center;
  }

  .brand-logo {
    width: 40px;
    height: 40px;
  }
  .grid-col-2 {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1440px) {
  .box {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }

  .box-a-div {
    max-width: 700;
  }

  .divider {
    max-width: 90%;
  }
}




 







